@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}

:root {
  --cor1: #fff;
  --cor2: black;
  --cor3: #c2a503;
  --cor4: #eee;

  --fontGrande: 18px;
  --fontPequena: 14px;
}

/* body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
} */

header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  padding: 10px 0;
  /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.219); */
  z-index: 4;
  font-family: "Oswald", sans-serif;

  animation: appear 3s ease-in-out forwards;
  animation-timeline: view(

  ); /* esse view faz com que ao chegar em um determinado height da tela a animação ocorra */
  animation-range: cover 140% cover 180%;
}

.top {
  cursor: pointer;
}

header img {
  width: 150px;
  height: 50px;
  object-fit: cover;
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.big-menu a {
  text-decoration: none;
  color: var(--cor1);
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  border: 2px solid transparent;
  padding: 20px;
}

.big-menu a:hover {
  color: var(--cor3);
  border-bottom: 2px solid var(--cor3);
}

#checkbox,
.toggle,
.bars,
.small-menu {
  display: none;
}

@keyframes appear {
  from {
    position: fixed;
    opacity: 0;
    translate: 0 -100vh;
  }
  to {
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    opacity: 1;
    translate: 0 0;
  }
}

/*------------------- */

.carousel {
  height: 100vh;
  /* margin-top: -50px; */
  width: 100%; /* 100vw */
  overflow: hidden;
  position: relative;

  font-family: Poppins;
  font-size: 12px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: var(--cor3);
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: 40px;
  /* gap: 5px; */
  margin-top: 20px;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 2;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}
.thumbnail .item .content .description {
  font-weight: 300;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 4;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */
/* 
.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
} */

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

/* ----------- */

.description-projects {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* background-color: #eee; */
  color: #000;

  background-image: url(img/back01.png);
  background-attachment: fixed;
}

.description-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.description-top h2 {
  font-weight: 300;
  margin: 40px 0;
}

.description-top p {
  font-weight: 300;
  font-size: var(--fontGrande);
}

.description-middle {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;

  font-size: var(--fontGrande);
}

.description-middle i {
  font-size: 35px;
  margin-right: 10px;
}

.description-bottom {
  margin: 90px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 95%;
  position: relative;
  max-width: 1000px;
}

.bottom-img {
  z-index: 2;
  position: absolute;
  /* left: 25%; */
  right: 2%;
  width: 40%;
}

.bottom-img img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.bottom-text {
  background-color: rgb(233, 231, 231);
  width: 100%;
  height: 400px;
  padding: 40px 30px;
}

.bottom-text h2 {
  padding-bottom: 18px;
  color: var(--cor3);
  width: 60%;
}

.bottom-text p {
  padding: 5px 0;
  width: 55%;
  text-align: justify;
  font-weight: 300;
  font-size: 14px;
}

.bottom-text strong {
  color: var(--cor3);
}

/* ----------- */

.galery{
    position: relative;
    background-color: var(--cor1);
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.363);
    width: 100%;
    padding: 60px 0;
    height: 700px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  
  .galery > h2{
    text-align: right;
    width: 80%;
    max-width: 1200px;
    padding-bottom: 40px;
    font-weight: 300;
  }
  
  .galery-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  
    max-width: 1200px;
    gap: 40px;
    width: 100%;
    height: 100%;
  }
  
  .modal-galery-image {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-checkbox:checked ~ .modal-galery-image {
    display: flex;
  }
  
  .galery-image{
    width: 250px;
    height: 250px;
  }
  
  .toBig{
    cursor: pointer;
  }
  
  .toBig > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .galery-big {
    background-color: #fefefe;
  
    border: 1px solid #888;
    border-radius: 10px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
    width: 90%;
    height: 85%;
  }
  
  .galery-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
    width: 90%;
    height: 70%;
  }
  
  .big-image{
    width: 80%;
    height: 100%;
  }
  
  .big-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .big-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  
    width: 20%;
  }
  
  .big-galery img{
    width: 80%;
    height: 100px;
    object-fit: cover;
  }
  
  .thumb-galery{
    cursor: pointer;
  }
  
  .big-description{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  
    font-size: 14px;
  }
  
  .modal-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .modal-contacts > a {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--cor5);
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.158);
    padding: 15px 0;
    width: 120px;
    border-radius: 10px;
    transition: transform 0.2s ease;
    animation: pulse 2s infinite;
  }
  
  .modal-contacts > a > p {
    color: var(--cor2);
    margin: 0;
    font-size: 20px;
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
  }
  
  .thumb-clicked{
    opacity: 0.6;
  }
  .modal-checkbox {
    display: none;
  }

  .fechar {
    color: tomato;
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .fechar:hover,
  .fechar:focus {
    transform: scale(1.15);
    text-decoration: none;
  }
/* ----------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.reviews {
  padding: 80px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews > h2 {
  text-align: left;
  width: 90%;
  max-width: 900px;
  padding-bottom: 50px;
  font-weight: 300;
}

.reviews > h2:not(:first-child) {
  padding-top: 60px;
  text-align: center;
  border-top: 1px dashed var(--cor3);
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  padding-bottom: 70px;
}

.review-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 100px;
    height: 100%;

  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid var(--cor3);

  display: flex;
    align-items: center;
    justify-content: center;
}

.review-card *,
.review-card *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.review-card figcaption {
  padding: 13% 10% 12%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-card figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--cor3);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.review-card h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.review-card h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.review-card blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

/* -- */

.review-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 70vh; */
  gap: 30px;

  /*  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */
}

.rating {
  display: inline-block;
  top: 0;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 75px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  /* color: #6f00ff; */
  color: yellowgreen;
  transition: color 0.3s;
}

.feedback {
  /* width: 100%;
    height: 50vh; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback h2 {
  margin-bottom: 30px;
}

#feedbackForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  max-width: 1000px;
  min-width: 320px;
}

#feedbackForm h2 {
  text-decoration: underline;
}

.feedback-bad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  gap: 20px;
}

.feedback-bad input[name="name"] {
  width: 70%;
  padding: 20px 10px;
}

.feedback-bad textarea {
  width: 70%;
  padding: 40px 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid rgba(0, 0, 0, 0.205);
}

.feedback-bad input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.205);
  }

.feedback-bad input[type="submit"] {
  padding: 20px 50px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: rgb(235, 105, 82);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#feedbackForm a {
  font-size: 18px;
  color: black;
}

#googleReview {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}

#googleReview > button {
  margin-top: 20px;
  padding: 30px;
  background-color: rgb(13, 170, 13);
  border: 1px solid green;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.modal-review {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-review {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

  font-size: 30px;
}

/* ----------- */

.contact {
  background-color: var(--cor4);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.192);
}

.contact-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
  width: 90%;
}

.contact-itens h2 {
  margin-left: 40px;
  padding-bottom: 40px;
  color: var(--cor2);
  font-weight: 300;
  font-size: 30px;
}

.text iframe {
  width: 100%;
  margin: 0 auto;
}

.text p {
  padding: 10px 0;
}

.contact-header {
  display: flex;
  justify-content: space-between;
}

.contact-header img {
  width: 150px;
  height: 40px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.contacts > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid var(--cor3);
  max-width: 220px;
  max-height: 80px;
}

/* ----------- */

footer {
  width: 100%;
  height: 100px;
  background-color: var(--cor4);
  font-size: 18px;
}

footer > p {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border-top: 1px dashed var(--cor3);
}

/* ------- */

/* ----------- */

@media screen and (min-width: 300px) and (max-width: 800px) {
  header nav {
    display: none;
  }

  header img {
    width: 100px;
    height: 30px;
  }

  #checkbox {
    display: none;
  }

  .toggle,
  .bars {
    display: block;
    z-index: 5;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
    margin-right: 30px;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--cor1);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .small-menu {
    display: none;
    background-color: #333333f1;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
  }

  .small-menu a {
    text-decoration: none;
    color: var(--cor1);
    text-shadow: 8px 4px 9px var(--cor2);
    font-size: 50px;
  }

  .small-menu a:first-child {
    margin-top: 100px;
  }

  #checkbox:checked + .toggle + .small-menu {
    display: flex;
    z-index: 4;
  }

  /* --------- */

  .description-top h2 {
    font-weight: 300;
    margin: 40px 0;
  }

  .description-top p {
    font-size: var(--fontPequena);
  }

  .description-middle {
    font-size: var(--fontPequena);
  }

  .description-middle i {
    font-size: 28px;
  }

  .bottom-img img {
    height: 600px;
  }

  .bottom-text {
    width: 100%;
    height: 430px;
    min-height: fit-content;
    padding: 40px 20px;
  }

  .bottom-text h2 {
    padding-bottom: 20px;
    font-size: 18px;
  }

  .bottom-text p {
    padding: 5px 0;
    width: 55%;
    text-align: justify;
    font-size: 13px;
  }

  /* ---------- */

  .galery > h2{
    font-weight: 300;
  }
  
  .galery-images{
    gap: 20px;
  }
  
  .galery-image{
    width: 150px;
    height: 150px;
  }
  
  .galery-big {
    gap: 30px;
  }
  
  .galery-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
    width: 90%;
    height: 70%;
  }
  
  .big-image{
    width: 80%;
    height: 100%;
  }

  
  .big-galery img{
    width: 80%;
    height: 100px;
  }
  
  .big-description{
    gap: 20px;
  
    font-size: 12px;
  }
  /* ----------- */

    .modal-contacts a {
      padding: 10px 0;
      width: 90px;
    }
  
    .modal-contacts > a > p {
      font-size: 14px;
    }

  /* ----------- */

  .review-card {
    min-height: 320px;
    font-size: 16px;
    
  }

  .review-card figcaption {
    padding: 10px;
  }

  .review-card figcaption:before {
    font-size: 22px;
    line-height: 30px;
    top: -20px;
    width: 30px;
  }

  .review-card h3 {
    font-size: 20px;
  }

  .review-card p{
    font-size: 12px;
  }

  /* --- */
  
  .rating label:before {
    font-size: 60px;
  }
  
  .feedback h2 {
    font-size: 20px;
  }
  
  .feedback-bad input[type="submit"] {
    font-size: 16px;
  }
  
  #feedbackForm a {
    font-size: 18px;
  }

  /* ----------- */

  .contact-itens h2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-size: 26px;
  }

  .text p {
    font-size: 15px;
  }

  .text p:last-child {
    font-size: 17px;
  }

  .contact-header img {
    width: 100px;
    height: 30px;
  }

  .contacts {
    gap: 10px;
    margin-top: 60px;
  }

  .contacts > div {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
  }

  .contacts > div > h3 {
    font-size: 16px;
  }

  .contacts > div > p {
    font-size: 12px;
  }

  /* ------------- */
}

@media screen and (min-width: 350px) and (max-width: 380px) {
  .bottom-text h2 {
    padding-bottom: 5px;
  }

  .bottom-text p {
    padding: 3px 0;
  }
}
