@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

/*    #2b1d1a     */

header {
  background-color: #ffa600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  padding: 10px 0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.219);
  z-index: 3;
}

.top{
    cursor: pointer;
}

header img {
  width: 200px;
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.big-menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  border: 2px solid orange;
  padding: 20px;
}

.big-menu a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
}

#checkbox,
.toggle,
.bars,
.small-menu {
  display: none;
}

main {
  width: 100%;
  margin-top: 70px;
  background-color: white;
}
/* ------- */
.main-logo {
  background: url('https://images.adsttc.com/media/images/6560/9dd7/ad68/bf61/51b2/bb75/large_jpg/o-uso-de-madeira-e-vidro-em-11-projetos-internacionais-de-arquitetura-contemporanea_10.jpg?1700830686') no-repeat bottom/cover;
  height: 92vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* gap: 200px; */
}

.main-logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.main-logo img{
  z-index: 2;
  margin-top: 150px;
  width: 400px;
  /* box-shadow: 2px 2px 15px 4px rgba(255, 255, 255, 0.151); */
}

.main-logo h2 {
  width: 80%;
  font-size: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 1px 2px 10px black;
  z-index: 2;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  /* background-color: rgba(0, 0, 0, 0.486); */
  border-top: 1px solid rgba(0, 0, 0, 0.301);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.295);
  width: 100%;
}

.call-contact {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  /* background-color: #2b1d1aa2;
  border-radius: 20px;
  border: 2px solid orange; */
}

.call-contact > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 160px;
}

.call-contact > div > a {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.call-contact > p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: white;
}

/* ---------- */

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #dadad8;
  background-image: url(vidros-img/background.png);
  background-attachment: fixed;
}

.produtos-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 0;
  max-width: 900px;
}

.produto {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.158);
}

.produto .img {
  background-color: rgba(0, 0, 0, 0.158);
  /* padding: 15px; */
  border-radius: 20px;
  margin: auto;
}

.img img {
  padding: 5px;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  object-fit: cover;
}

.produto h2 {
  padding: 20px 10px;
  border-radius: 0 0 20px 20px;
  height: 25px;
  color: black;
  font-size: 18px;
  text-align: center;
}

.produto .open-modal {
  /* display: inline-block;
    width: 100%;
    padding: 4px 0;
    margin: 0 auto;
    text-align: center; */
  text-decoration: none;
  cursor: pointer;
}

.saiba {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.493);
  width: 180px;
  height: 250px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.saiba p{
  color: orange;
  background-color: #000;
  border: 1px solid orange;
  padding: 10px 20px;
}

.open-modal:hover .saiba {
  opacity: 1;
}

/* Oculta o checkbox */
.modal-toggle {
  display: none;
}

/* Modal geral */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  height: 80%;
}

.modal-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 colunas iguais */
  grid-template-rows: repeat(1, 1fr); /* 2 linhas iguais */
  gap: 10px; /* Espaçamento entre as imagens */
  width: 95%; /* Ocupa toda a largura do modal */
  /* max-width: 600px; */
  height: fit-content;
}

.modal-image img {
  width: 100%; /* Garante que cada imagem preencha a célula */
  height: 100%; /* Garante que cada imagem preencha a célula */
  max-height: 250px;
  object-fit: cover; /* Ajusta a imagem sem distorção */
  border: 1px solid rgba(0, 0, 0, 0.315); /* Borda opcional */
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.205); /* Sombras para destaque */
}

.modal-content h2 {
  color: #000;
  margin: 0;
}

.modal-content p {
  margin: 10px 0;
  color: black;
  max-width: 800px;
}

.close-modal {
  position: absolute;
  right: 10%;
  /* display: inline-block;
    margin-top: 10px; */
  padding: 10px 18px;
  background-color: orange;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

.modal-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.modal-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-contacts a {
  display: flex; /* Necessário para que a escala funcione corretamente */
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: orange;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.158);
  padding: 15px 0;
  width: 120px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  animation: pulse 2s infinite;
}

.modal-contacts > a > p {
  color: black;
  margin: 0;
  font-size: 20px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

/* Exibe o modal ao marcar o checkbox */
.modal-toggle:checked ~ .modal {
  display: flex;
}

/* ------------- */

.jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: white;
  padding: 100px 0;
  gap: 120px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
}

.preview-jobs {
  width: min(1200px, 90vw);
  margin: auto;
  overflow: hidden;
}
.slider {
  max-width: 90vw;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  - 9s) !important ;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* -------------- */

.reviews {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 40px;
  margin: auto;
  color: #767268;
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid orange;
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #767268;
  transition: 0.3s;
}

/* ------------ */

.about {
  background-color: #dadad8;
  background-image: url(vidros-img/background.png);
  background-attachment: fixed;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
}

.about-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  margin: 0 auto;
  gap: 40px;
  max-width: 1200px;
  width: 90%;
}

.about-itens > div > h2 {
  font-size: 30px;
  text-align: right;
  margin-right: 40px;
}

.about-itens > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-itens > div > p{
  text-indent: 20px;
}

.about-itens > div > p:first-child::first-letter{
  font-size: 29px;
}

.about-itens > div> p:last-child{
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.contact {
  background-color: white;
}

.contact-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
  width: 90%;
}

.contact-itens h2 {
  margin-left: 40px;
  padding-bottom: 40px;
}

.text p{
  text-indent: 20px;
}

.text p:last-child{
  margin-top: 20px;
  text-align: center;
  font-size: 19px;
  color: #da971a;
}

.contact-header {
  display: flex;
  justify-content: space-between;
}

.contact-header img {
  width: 150px;
  height: 40px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

.contacts > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid orange;
  max-width: 220px;
  max-height: 80px;
}

footer {
  background-color: orange;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  header nav {
    display: none;
  }

  header img {
    width: 150px;
  }

  #checkbox {
    display: none;
  }

  .toggle,
  .bars {
    display: block;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
    margin-right: 30px;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: #2b1d1a;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .small-menu {
    display: none;
    background-color: #333333e8;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 100%;

    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .small-menu a {
    text-decoration: none;
    color: orange;
    text-shadow: 8px 4px 9px black;
    font-size: 50px;
  }

  .small-menu a:first-child {
    margin-top: 100px;
  }

  #checkbox:checked + .toggle + .small-menu {
    display: flex;
  }

  /* ------ */

  .slider {
    max-width: 85vw;
  }

  /* ---- */

  .main-logo {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }

  .main-logo img{
    margin-top: 130px;
    width: 300px;
    box-shadow: 2px 2px 15px 4px rgba(255, 255, 255, 0.151);
  }

  .main-logo h2 {
    /* margin-top: 50px; */
    font-size: 40px;
    text-shadow: 1px 2px 10px black;
  }

  .call {
    flex-wrap: wrap;
    gap: 20px;
  }

  .call-contact {
    gap: 10px;
    padding: 10px 15px;
  }

  .call-contact > div {
    gap: 10px;
    width: 130px;
  }

  .call-contact > div > a {
    font-size: 18px;
  }

  .call-contact > p {
    font-size: 16px;
  }

  /* --------- */

  .testimonials__grid {
    width: 90%;
  }

  .card {
    padding: 10px;
    gap: 10px;
  }

  .card i {
    font-size: 30px;
  }

  .card p {
    font-size: 14px;
  }

  .card hr {
    width: 40px;
  }

  .card img {
    width: 60px;
    height: 60px;
  }

  .card .name {
    font-size: 0.9rem;
    font-weight: 400;
    color: #767268;
    transition: 0.3s;
  }

  /* ------------- */

  /* .about-itens{
    width: 90%;
  } */
  
  .about-itens > div > h2 {
    font-size: 26px;
    text-align: right;
    margin-right: 40px;
  }
  
  .about-itens > div > p {
    font-size: 15px;
  }

  .about-itens > div > p:first-child::first-letter{
    font-size: 24px;
  }
  
  .about-itens > div> p:last-child{
    font-size: 17px;
  }

  /* ------------- */

  .contact-itens h2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-size: 26px;
  }

  .text p {
    font-size: 15px;
  }
  
  .text p:last-child{
    font-size: 17px;
  }

  .contact-header img {
    width: 150px;
    height: 40px;
  }

  .contacts {
    gap: 10px;
    margin-top: 60px;
  }

  .contacts > div {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    
  }

  .contacts > div > h3 {
    font-size: 16px;
  }

  .contacts > div > p {
    font-size: 12px;
  }

  /* ---------- */

  .modal-content {
    height: 90%;
  }

  .modal-content h2 {
    font-size: 16px;
  }

  .close-modal {
    padding: 5px 14px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .modal-contacts a {
    padding: 10px 0;
    width: 90px;
  }

  .modal-contact h3 {
    font-size: 16px;
  }

  .modal-contacts > a > p {
    font-size: 14px;
  }

  .modal-image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60%;
  }
}
