@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}

:root {
  --cor1: #fff;
  --cor2: black;
  --cor3: #77A464;
  --cor4: #eee;
  --cor5: #77A464;

  --fontGrande: 18px;
  --fontPequena: 14px;
}

header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    padding: 10px 0;
    /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.219); */
    z-index: 3;
    font-family: "Oswald", sans-serif;
  
    animation: appear 3s ease-in-out forwards;
      animation-timeline: view(); /* esse view faz com que ao chegar em um determinado height da tela a animação ocorra */
      animation-range: cover 140% cover 180%;
  }
  
  .top {
    cursor: pointer;
  }
  
  header img {
    width: 100px;
    height: 60px;
    object-fit: cover;
  }
  
  header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .big-menu a {
    text-decoration: none;
    color: var(--cor1);
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    border: 2px solid transparent;
    padding: 20px;
  }
  
  .big-menu a:hover {
    color: var(--cor3);
    border-bottom: 2px solid var(--cor3);
  }
  
  #checkbox,
  .toggle,
  .bars,
  .small-menu {
    display: none;
  }
  
  @keyframes appear {
      from{
          position: fixed;
          opacity: 0;
          translate: 0 -100vh;
      }to{
          background-color: rgba(0, 0, 0, 0.384);
          position: fixed;
          opacity: 1;
          translate: 0 0;
      }
  }
/* ------ */

.slider {
  width: auto;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.247);
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.slider .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  max-width: 900px;
  width: 80%;

  color: var(--cor1);
  font-size: 1.5em;
  font-weight: bold;
  z-index: 2;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.item.active .text-overlay {
  opacity: 1;
}

.text-overlay h3 {
  font-size: 45px;
  font-weight: 400;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.text-overlay p {
  margin: 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.slider .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 2; /* Menor que o small-menu */
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: var(--cor1);
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}
/* ----------- */

.description-projects {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background-color: #eee; */
    color: #000;
  
    background-image: url(img/back01.png);
    background-attachment: fixed;
  }
  
  .description-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }
  
  .description-top h2 {
    font-weight: 300;
    margin: 40px 0;
  }
  
  .description-top p {
    font-weight: 300;
    font-size: var(--fontGrande);
  }
  
  .description-middle {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  
    font-size: var(--fontGrande);
  }
  
  .description-middle i {
    font-size: 35px;
    margin-right: 10px;
  }
  
  .description-bottom {
    margin: 90px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 95%;
    position: relative;
    max-width: 1000px;
  }
  
  .bottom-img {
    z-index: 2;
    position: absolute;
    /* left: 25%; */
    right: 2%;
    width: 40%;
  }
  
  .bottom-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
  
  .bottom-text {
    background-color: rgb(233, 231, 231);
    width: 100%;
    height: 400px;
    padding: 40px 30px;
  }
  
  .bottom-text h2 {
    padding-bottom: 18px;
    color: var(--cor3);
    width: 60%;
  }
  
  .bottom-text p {
    padding: 5px 0;
    width: 55%;
    text-align: justify;
    font-weight: 300;
    font-size: 14px;
  }
  
  .bottom-text strong {
    color: var(--cor3);
  }
  
  /* ----------- */
  /* ------------ */
.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;

  background-color: rgba(0, 0, 0, 0.027);
  /* background-image: url(image/background.png);
  background-attachment: fixed; */
}

.produtos > h2 {
  font-weight: 300;
  max-width: 800px;
  width: 80%;
  text-align: right;
  padding: 90px 0;
}

.produtos-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
  /* grid-template-rows: auto; */ /* Altura ajustada automaticamente */
  gap: 20px; /* Espaçamento entre os itens */
  /* padding: 60px 0; */
  max-width: 900px;
  width: 93%;
}

/* Produto específico: primeira fileira (3/3) */
.produto:nth-child(1) {
  grid-column: span 2; /* Ocupa 1 coluna */
  grid-row: span 1; /* Ocupa 1 linha */
}
.produto:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}
.produto:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
  height: 422px;
}

/* Segunda fileira (1/3) com o primeiro item maior */
.produto:nth-child(4) {
  grid-column: span 2; /* Ocupa 1 coluna */
  grid-row: span 1; /* Ocupa 2 linhas */
}

/* Terceira fileira (1/3 e 2/3) */
.produto:nth-child(5) {
  grid-column: span 2; /* Ocupa 1 coluna */
  grid-row: span 2; /* Ocupa 1 linha */
}
.produto:nth-child(6) {
  grid-column: span 2; /* Ocupa 2 colunas */
  grid-row: span 1; /* Ocupa 1 linha */
}

.four-pd:nth-child(1){
  grid-column: span 2;
  grid-row: span 1;
}

.four-pd:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
  height: 422px;
}
.four-pd:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
  height: 200px;
}

/* Segunda fileira (1/3) com o primeiro item maior */
.four-pd:nth-child(4) {
  grid-column: span 3; /* Ocupa 1 coluna */
  grid-row: span 1; /* Ocupa 2 linhas */
}

/* Estilização base para os produtos */
.produto {
  position: relative;
  border: 1px solid var(--cor2);
  background-color: var(--cor1);
  height: 200px; /* Altura padrão */
}

/* Ajuste para o produto maior */
/* .produto:nth-child(2), .produto:nth-child(5) {
  height: 422px;
} */

.open-modal img {
  /* padding: 5px; */
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  object-fit: cover;
  filter: brightness(0.6);
}

.produto .open-modal {
  text-decoration: none;
  cursor: pointer;
}

.open-modal > h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  /* transform: translate(-50%, -50%); */
  /* padding: 20px 10px;
      border-radius: 0 0 20px 20px; */
  /* height: 25px; */
  color: var(--cor1);
  text-shadow: 2px 1px 10px var(--cor2);
  font-size: 18px;
}

.saiba {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saiba p {
  color: var(--cor3);
  background-color: var(--cor2);
  border: 1px solid var(--cor3);
  padding: 10px 20px;
}

.open-modal:hover .saiba {
  opacity: 1;
}

/* Oculta o checkbox */
.modal-toggle {
  display: none;
}

/* Modal geral */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  height: 80%;
}

.modal-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 colunas iguais */
  grid-template-rows: repeat(1, 1fr); /* 2 linhas iguais */
  gap: 10px; /* Espaçamento entre as imagens */
  width: 95%; /* Ocupa toda a largura do modal */
  /* max-width: 600px; */
  height: fit-content;
  margin-bottom: 20px;
}

.modal-image img {
  width: 100%; /* Garante que cada imagem preencha a célula */
  height: 100%; /* Garante que cada imagem preencha a célula */
  max-height: 250px;
  object-fit: cover; /* Ajusta a imagem sem distorção */
  border: 1px solid rgba(0, 0, 0, 0.315); /* Borda opcional */
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.205); /* Sombras para destaque */
}

.modal-content h2 {
  color: var(--cor2);
  margin: 0;
  margin-bottom: 30px;
}

.modal-content p {
  margin: 10px 0;
  color: var(--cor2);
  max-width: 800px;
}

.close-modal {
  position: absolute;
  right: 10%;
  /* display: inline-block;
      margin-top: 10px; */
  padding: 10px 18px;
  background-color: var(--cor3);
  color: var(--cor1);
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

.modal-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.modal-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-contacts a {
  display: flex; /* Necessário para que a escala funcione corretamente */
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--cor3);
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.158);
  padding: 15px 0;
  width: 120px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  animation: pulse 2s infinite;
}

.modal-contacts > a > p {
  color: var(--cor2);
  margin: 0;
  font-size: 20px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

/* Exibe o modal ao marcar o checkbox */
.modal-toggle:checked ~ .modal {
  display: flex;
}

/* ----------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.reviews {
  padding: 80px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews > h2 {
  text-align: left;
  width: 90%;
  max-width: 900px;
  padding-bottom: 50px;
  font-weight: 300;
}

.reviews > h2:not(:first-child) {
  padding-top: 60px;
  text-align: center;
  border-top: 1px dashed var(--cor3);
}

.reviews > a{
  background-color: rgb(247, 247, 247);
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.247);
  border-radius: 5px;
  margin-top: 50px;
  padding: 5px 5px 10px 5px;
}

.reviews > a:hover{
  box-shadow: 0 4px 10px rgba(0, 38, 255, 0.247);
}

.reviews > a > img {
  width: 150px;
}

/* -- */

.review-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.review-container::before,
.review-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.review-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.review-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.review-m {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 colunas na grid */
  grid-template-rows: auto auto; /* Duas linhas */
  justify-content: center;
  gap: 20px 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin: 60px 0;
  overflow: hidden;
}

.box01 {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  max-width: 270px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  grid-column: span 2; /* Cada box vai ocupar 2 colunas */
}

/* Ajustes para a segunda linha */
.box01:nth-child(5) {
  grid-column: 2 / span 2; /* Box 5 começa na coluna 2 e ocupa duas colunas */
}

.box01:nth-child(6),
.box01:nth-child(7) {
  grid-column: span 2; /* Outros boxes continuam ocupando 2 colunas */
}

.cont {
  width: 90%;
  margin-bottom: 5px;
}

.stars {
  color: #9b9a9a;
}

.cont > p {
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  max-height: 30px; /* Limita a altura para 2 linhas */
  overflow: hidden; /* Esconde o texto extra */
  position: relative; /* Necessário para a máscara */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.text-yellow {
  color: var(--cor5);
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.end img {
  width: 30px;
}

.name-end > p {
  font-size: 16px;
}

.name-end > p:last-child {
  color: #888;
  font-size: 13px;
}

/* -- */

.review {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  padding-bottom: 70px;
}

.review-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 100px;
  height: 100%;

  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid var(--cor5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.review-card *,
.review-card *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.review-card figcaption {
  padding: 13% 10% 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-card figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--cor3);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.review-card h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.review-card h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.review-card blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
  /* ----------- */

.contact {
    background-color: var(--cor4);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.192);
  }
  
  .contact-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    width: 90%;
  }
  
  .contact-itens h2 {
    margin-left: 40px;
    padding-bottom: 40px;
    color: var(--cor2);
    font-weight: 300;
    font-size: 30px;
  }
  
  .text iframe {
    width: 100%;
    margin: 0 auto;
  }
  
  .text p {
    padding: 10px 0;
  }
  
  .contact-header {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-header img {
    width: 100px;
    height: 50px;
  }
  
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }
  
  .contacts > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid var(--cor3);
    max-width: 220px;
    max-height: 80px;
  }
  
  /* ----------- */
  
  footer {
    width: 100%;
    height: 100px;
    background-color: var(--cor4);
    font-size: 18px;
  }
  
  footer > p {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    border-top: 1px dashed var(--cor3);
  }
  
  /* ------- */

@media screen and (min-width: 300px) and (max-width: 800px) {
  header nav {
    display: none;
  }

  header img {
    width: 80px;
    height: 40px;
  }

  #checkbox {
    display: none;
  }

  .toggle,
  .bars {
    display: block;
    z-index: 5;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
    margin-right: 30px;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .small-menu {
    display: none;
    background-color: #333333f1;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
  }

  .small-menu a {
    text-decoration: none;
    color: var(--cor1);
    text-shadow: 8px 4px 9px var(--cor2);
    font-size: 50px;
  }

  .small-menu a:first-child {
    margin-top: 100px;
  }

  #checkbox:checked + .toggle + .small-menu {
    display: flex;
    z-index: 4;
  }
  /* ----------- */
  .text-overlay h3 {
    font-size: 35px;
  }

  .text-overlay p {
    font-size: 17px;
  }
  /* --------- */
  /* ----------- */
  .modal-content {
    height: 90%;
  }

  .modal-content h2 {
    font-size: 16px;
  }

  .close-modal {
    padding: 5px 14px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .modal-contacts a {
    padding: 10px 0;
    width: 90px;
  }

  .modal-contact h3 {
    font-size: 16px;
  }

  .modal-contacts > a > p {
    font-size: 14px;
  }

  .modal-image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 60%; */
  }

  .modal-image img{
    max-height: 180px;
  }
  /* --------- */
  .description-top h2 {
    font-weight: 300;
    margin: 40px 0;
  }

  .description-top p {
    font-size: var(--fontPequena);
  }

  .description-middle {
    font-size: var(--fontPequena);
    margin: 20px 0;
  }

  .description-middle > p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description-middle i {
    font-size: 28px;
    margin-right: 0px;
  }

  .bottom-img img {
    height: 600px;
  }

  .bottom-text {
    width: 100%;
    height: 430px;
    min-height: fit-content;
    padding: 40px 20px;
  }

  .bottom-text h2 {
    padding-bottom: 20px;
    font-size: 18px;
  }

  .bottom-text p {
    padding: 5px 0;
    width: 55%;
    text-align: justify;
    font-size: 13px;
  }
  /* ----------- */
  .review-m {
    gap: 20px 30px;
  }

  .box01 {
    width: 170px;
    max-width: 170px;
    min-width: 150px;
  }

  .cont > p {
    font-size: 12px;
    max-height: 25px;
  }

  .end img {
    width: 20px;
  }

  .name-end > p {
    font-size: 14px;
  }

  .name-end > p:last-child {
    font-size: 11px;
  }
  /* ----------- */

  .contact-itens h2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-size: 26px;
  }

  .text p {
    font-size: 15px;
  }

  .text p:last-child {
    font-size: 17px;
  }

  .contact-header img {
    width: 80px;
    height: 40px;
  }

  .contacts {
    gap: 10px;
    margin-top: 60px;
  }

  .contacts > div {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
  }

  .contacts > div > h3 {
    font-size: 16px;
  }

  .contacts > div > p {
    font-size: 12px;
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) {
    .bottom-text h2 {
      padding-bottom: 5px;
    }
  
    .bottom-text p {
      padding: 3px 0;
    }
  }