*{
  scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f2e7;
    color: #333;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-image: url("https://renata.com.br/images/receitas/87/renata-imagem-receitas-macarrao-ao-molho-rustico-de-tomate-e-bacon-share.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 4rem;
    text-shadow: 2px 2px #000;
    color: #fff;
    margin: auto;
  }
   /*  */

  
nav {
  background-color: #fff;
  color: white;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

nav a{
  text-decoration: none;
  color: #996515;
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  opacity: 0; /* Começa com opacidade zero */
  transition: opacity 0.5s ease-out 0.5s; /* Adicionando delay de 0.5s para a opacidade */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #996515;
}

.nav-fixed a{
  padding: 10px;
  color: #fff;
}

nav > a:hover{
  transform: scale(1.03);
  transition: 0.47s;
  text-decoration: underline;
}

.nav-fixed.visible {
  opacity: 1; /* Torna-se totalmente visível */
  z-index: 1;
}


  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .cardapio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  footer {
    background-color: #996515;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
 
/* Estilos específicos para cada categoria */

  .entrada {
    background-color: #e2d9c9;
  }
  
  .prato-principal {
    background-color: #f8f1e4;
  }
  
  .sobremesa {
    background-color: #e2d9c9;
  }
  
  .bebida {
    background-color: #f8f1e4;
  }
  
  .cardapio-item h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #996515;
  }
  
  .cardapio-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 25px;
    /* padding: 20px; */
    transition: all 0.3s ease;
  }
  
  .cardapio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  }
  
  .cardapio-item img {
    /* width: 150px;
    height: 150px; */
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  
  .cardapio-item p {
    font-size: 1rem;
    text-align: center;
    margin: 0 10px 20px 10px;
    line-height: 1.4;
  }
  
  .cardapio-item span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #996515;
  }

.cardapio-item span:first-child {
  margin-bottom: 0.5rem;
}

.cardapio-item span:last-child {
  font-weight: normal;
}

.cardapio-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* (min-width: 768px) */
@media screen and (min-width: 330px) and (max-width: 1200px){
  
/*  */


/*  */
  nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 100px;
    text-align: center;
    padding: 5px;
  }

  nav a{
    padding: 5px;
    margin: auto;
    font-size: 1.2rem;
  }

  .nav-fixed a{
    font-size: 1.1rem;
  }
  
  .cardapio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .entrada .cardapio-item,
  .prato-principal .cardapio-item,
  .sobremesa .cardapio-item,
  .bebida .cardapio-item {
/*     width: 150px;
    height: 250px;
    margin: 25px;
    padding: 20px; */
    width: 60%;

  }
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
  .cardapio {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .cardapio {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* 
@media screen and (max-width: 500px) {
  .cardapio {
    grid-template-columns: 1fr;
  }
}
 */

 /*  */ /*  */
 .back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 55px;
  height: 55px;
  line-height: 35px;
  text-align: center;
  border-radius: 0.4rem;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 0 0.5rem rgb(231, 231, 231);
  transition: all 0.2s ease-in-out;
  transform: translateY(-30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2d9c9;
  background-color:  #996515;
}

.back_to_top.show {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transform: translateY(0rem);
}

 .back_to_top:hover{
  background-color: #fff;
  color: #996515;
}